.app {
	font-family: campton !important;
}

.bold_me {
	font-family: campton_bold !important;
}
#section_2a img {
	height: 90px;
	width: 90px;
}

.para3 img {
	height: 55px;
	width: 55px;
}

h2,
p {
	color: white;
}
.colored {
	color: #f47824 !important;
}

a.navbar-brand {
	color: #fff;
	font-size: 32.5px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 26px;
	text-transform: uppercase;
}

.who_we_are {
	background-image: url('./assets/yellow_hover.png');
	background-repeat: no-repeat;
}
.navbar-brand:hover {
	color: white;
}
.navbar-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	font-family: 'exotic';
}
#contact_abc label {
	font-weight: bold !important;
	color: #2d2d2d;
}
.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group > .form-control,
.input-group > .form-control-plaintext,
.input-group > .custom-select,
.input-group > .custom-file {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
	margin-bottom: 0;
}
.upper_part .event-bg-btn {
	border-radius: 8px;
	background-color: #f47824;
	padding: 9px 15px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 20px;
}
.form-control {
	transition: none;
}

.section_last_card {
	text-align: center;
	margin: 10px;
}
.section_last_card img {
	width: 100px;
}
.section_last_card h6 {
	font-weight: 600;
	font-size: 20px;
}
.section_last_card p {
	font-size: 14px;
	line-height: 1.3;
}
.upper_part .form-control {
	border-radius: 8px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-right: 0px;
	height: 40px;
	background-color: #ffffff;
	color: #272729;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 18px;
}
.upper_part .header-top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
	overflow: hidden;
	padding: 15px 0;
}
.align-items-center {
	-ms-flex-align: center !important;
	align-items: center !important;
}

.bi.bi-search {
	fill: #f47824;
}
.upper_part .input-group-text {
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #ffffff;
	border-left: 0px;
	height: 40px;
}
.upper_part .input-group {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
}
.upper_part .input-group-append {
	margin-left: -1px;
}

.upper_part .input-group-prepend,
.upper_part .input-group-append {
	display: -ms-flexbox;
	display: flex;
}

.banner-content {
	margin: 0 auto;
	padding: 150px 0 50px;
	text-align: center;
	color: white;
	max-width: 1140px;
}

.upper_part {
	background-image: url(./assets/desk_back.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 612px;
	padding: 15px 10px;
}
.navbar-toggler-icon {
	width: 0px;
	height: 0px;
}
.menu {
	position: relative;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 20px;
	color: #ffffff;
	display: inline-block;
	margin-top: 23px;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: '';
	background: no-repeat center center;
	background-size: 100% 100%;
}
.navbar-toggler-icon:after {
	width: 10px;
	border: 3px solid #fff;
	content: '';
	display: block;
	background-color: #fff;
	border-radius: 3px;
	position: absolute;
	top: 15px;
	left: 10px;
}
.navbar-toggler-icon:nth-child(2):after {
	top: 25px;
	width: 18px;
	left: 0;
}

.navbar-toggler-icon:after {
	width: 10px;
	border: 3px solid #fff;
	content: '';
	display: block;
	background-color: #fff;
	border-radius: 3px;
	position: absolute;
	top: 15px;
	left: 10px;
}
.navbar-toggler-icon:nth-child(3):after {
	top: 35px;
	left: 0;
}

.navbar-toggler-icon:after {
	width: 10px;
	border: 3px solid #fff;
	content: '';
	display: block;
	background-color: #fff;
	border-radius: 3px;
	position: absolute;
	top: 15px;
	left: 10px;
}
@media only screen and (min-width: 768px) {
	.banner-title {
		font-size: 56px;
		line-height: 64px;
	}
	.second_slot {
		margin-top: 50px;
	}
}

.banner-text {
	opacity: 0.8;
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 24px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 36px;
}

.bg-dark-yellow {
	background-color: #f47824;
	padding: 100px 0;
}

.video-section {
	padding: 10px;
	border: 4px solid #fff;
	border-radius: 16px;
	position: relative;
}

@media only screen and (min-width: 768px) {
	.title {
		/* font-size: 46px; */
		line-height: 60px;
		font-size: 43px;
	}
}

@media only screen and (min-width: 768px) {
	.p-text {
		opacity: 0.8;
		color: #ffffff;
		font-size: 20px;
		line-height: 24px;
	}
}

.application_sec {
	padding: 70px 0px;
}

.card {
	padding: 30px 20px;
	border-radius: 10px;
	box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.12);
	height: 420px !important;
	margin: 20px;
	display: block !important;
}

.card p {
	color: black;
	margin-top: 15px;
	font-size: 18px;
}

.joining-us-bg {
	position: relative;
	background-color: #f4f4f4;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.space {
	padding: 64px 0;
}

.space img {
	width: 100px !important;
	margin: 0px auto;
}

.space .card {
	box-shadow: none;
	background: none;
	border: none;
	text-align: center;
}

.space h3 {
	font-size: 16px;
}
.space p {
	font-size: 16px;
}

.para3 .card {
	height: 330px !important;
}

.Contact_sec {
	padding: 0px;
}

.Contact_sec {
	background-color: #fef3e6;
	margin-top: 100px;
	padding: 50px 0px;
}
.mr-0,
.mx-0 {
	margin-right: 0 !important;
}

.contact_container {
	width: 70%;
	margin: 0px auto;
}

.Contact_sec form input {
	border: 1px solid #ced4da !important;
	/* height: 72px; */
	padding: 20px 30px;
	border-radius: 8px;
	letter-spacing: 1px;
	font-size: 16px;
	height: 65px;
}

.Contact_sec form textarea {
	padding: 20px;
}

.Contact_sec form .btn {
	border: 1px solid #dcdcdc;
	width: 100%;
	font-size: 24px;
	padding: 15px 0px;
	border-radius: 8px;
	margin-bottom: 100px !important;
	display: inherit;
	background-color: #f47824;
}

.header-top .event-bg-btn:hover {
	background-color: #f47824 !important;
}

@media (max-width: 500px) {
	.upper_part Button {
		margin-top: 20px;
		text-align: center;
	}
	.section_last_card {
		margin-bottom: 20px;
	}
	.mob {
		flex-wrap: wrap;
	}
	.button_homepage {
		font-size: 14px !important;
	}
	.Contact_sec {
		margin-top: 30px !important;
	}
	.client_section div {
		padding: 5px !important;
	}
	.cardy {
		height: 300px !important;
	}
	.upper_part {
		background-image: url(./assets/mob_back.png);
	}
	a.navbar-brand {
		font-size: 30px;
		padding-left: 10px;
	}
	.mob_head_2 {
		font-size: 20px;
	}
	.homepage_banner_buttons {
		flex-wrap: wrap;
		justify-content: center;
		margin-top: -50px !important;
	}
	.homepage_banner_buttons Button {
		width: 250px;
		padding-top: 5px !important;
		padding-bottom: 5px !important;
		margin-left: 0px !important;
	}
}

Button,
a {
	border: none !important;
	outline: none !important;
	text-decoration: none !important;
}
